{% load static %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <script src="{% static 'website/likedislike.js' %}"></script>
    {% block head %}{% endblock %}
</head>

<body {% block bodyattributes %}{%endblock %}>
    {% block bodyfirst %}{% endblock %}

    <header class="header">
        <nav>
            <a href="/" class="app-name">Game Review Blog</a>
            <ul>
                <li>
                    <a style="cursor: default;"><span>Create</span> <i class="fa fa-pencil-square"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'website:create' 'game' %}">Game <i class="fa fa-gamepad"></i></a></li>
                        <li><a href="{% url 'website:create' 'entity' 'developer' %}">Developer <i class="fa fa-desktop"></i></a></li>
                        <li><a href="{% url 'website:create' 'entity' 'publisher' %}">Publisher <i class="fa fa-building-o"></i></a></li>
                    </ul>
                </li>

                <li>
                    <a style="cursor: default;">Browse <i class="fa fa-ellipsis-v"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'website:games_list' %}">Games <i class="fa fa-gamepad"></i></a></li>
                        <li><a href="{% url 'website:posts_list' %}">Posts <i class="fa fa-align-left"></i></a></li>
                        <li><a href="{% url 'website:entities' 'developers' %}">Developers <i class="fa fa-desktop"></i></a></li>
                        <li><a href="{% url 'website:entities' 'publishers' %}">Publishers <i class="fa fa-building-o"></i></a></li>
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                    <li>
                        <a style="cursor: default;">{{ request.user.username }} <i class="fa fa-user-circle"></i></a>
                        <ul class="submenu">
                            <li><a href="{% url 'website:profile' request.user.id %}">Profile <i class="fa fa-id-card-o"></i></a></li>
                            <li><a href="{% url 'website:account_settings' %}">Settings <i class="fa fa-cog"></i></a></li>
                            <li><a href="{% url 'website:logout' %}">Log Out <i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'website:account' 'login' %}">Log In <i class="fa fa-sign-in"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'website:account' 'register' %}">Register <i class="fa fa-user-plus"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="search">
            <form action="{% url 'website:search' %}" method="get" style="font-size: 0;">
                <input name="q" type="text" placeholder="Search...">
                <button class="btn-search"><i class="fa fa-search" style="color: #f2f2f2;"></i></button>
            </form>
        </div>
    </header>

    <div class="sidebar" {% block sidebar-params %}{% endblock %}>
        {% block sidebar %}{% endblock %}
    </div>

    <div class="main-container">
        <div class="main" {% block main-params %}{% endblock %}>

            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            {% block main %}{% endblock %}
        </div>


        <footer>
            <p>©2023 Game Review Site</p>
            <p>Made with Django</p>
        </footer>
    </div>

    {% block bodylast %}{% endblock %}
</body>
