{% extends "website/base.html" %}
{% load static %}


{% block head %}
	<script src="{% static 'website/javascript/bbcode.js' %}"></script>
{% endblock %}


{% block sidebar %}
	<a href="{% url 'website:game' game_id %}" style="
	text-align:center; font-weight: bold; margin-top: 20px; font-size: 22px;">
		Recent posts</a>
    <ul class="sidebar-list">
        {% for post in latest_reviews.all %}
            <li>
                <a href="{% url 'website:post' post.id %}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

	<a href="{% url 'website:game' game_id %}" style="
	text-align:center; font-weight: bold; margin-top: 60px; font-size: 22px;">
		Recent posts from Self</a>
    <ul class="sidebar-list">
        {% for post in own_reviews.all %}
            <li>
                <a href="{% url 'website:post' post.id %}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
	<div class="createform" id="padded-content">
		<h1>Write a Review</h1>

		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>
				Thumbnail:
				<input type="file" id="Thumbnail" name="file">
			</p>

			<p>
				<h4>{{ form.title.label_tag }}</h2>
				{{ form.title }}
			</p>

			<p>
				<h4>{{ form.content.label_tag }}</h4>
				<div>
					<button type="button" onclick="stylize('b')"><b>bold</b></button>
					<button type="button" onclick="stylize('i')"><i>italics</i></button>
					<button type="button" onclick="stylize('strike')"><strike>strikethrough</strike></button>
					<button type="button" onclick="stylize('u')"><u>underline</u></button>
					<button type="button">link</button>
				</div>
			</p>

			<div class="textbox">
				<div id="contentbox" contenteditable="True"></div>
			</div>

			<button type="submit">Submit</button>
		</form>
	</div>
{% endblock %}