{% extends "website/base.html" %}

{% block sidebar %}
    <a href="#" style="
    text-align:center; font-weight: bold; margin-top: 20px; font-size: 22px;">
        Recently added developers</a>
    <ul class="sidebar-list">
        {% for dev in latest_devs.all %}
            <li>
                <a href="#">
                    {{ dev.title }}
                </a>
            </li>
        {% endfor %}
    </ul>


    <a href="#" style="
        text-align:center; font-weight: bold; margin-top: 60px; white-space: nowrap;
        font-size: 22px;
    ">Recently added publishers</a>
    <ul class="sidebar-list">
        {% for pub in latest_pubs.all %}
            <li>
                <a href="#">
                    {{ pub.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
	<div id="padded-content">
		<h1>Add an Entity</h1>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<button type="submit">Submit</button>
			<br>

			<p>
				Thumbnail:
				<input type="file" id="Thumbnail" name="file">
			</p>

			<p>{% for field in form %}
				<br>
				{{ field.label_tag }}
				<br>
				{{ field }}
			{% endfor %}</p>

		</form>
	</div>
{% endblock %}