{% extends "website/base.html" %}

{% block sidebar %}
	<a href="/?sort=-id" style="
        text-align:center; font-weight: bold; margin-top: 20px; white-space: nowrap;
        font-size: 22px;
    ">Recently added games</a>
    <ul class="sidebar-list">
        {% for game in latest_games.all %}
            <li>
                <a href="{% url 'website:game' game.id %}">
                    {{ game.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
	<div id="padded-content">
		<h1>Add a Game</h1>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<button type="submit">Submit</button>
			<br>

			<p>
				Thumbnail:
				<input type="file" id="Thumbnail" name="file">
			</p>

			<p>{% for field in form %}
				<br>
				{{ field.label_tag }}
				<br>
				{{ field }}
			{% endfor %}</p>

		</form>
	</div>
{% endblock %}