{% extends "website/base.html" %}
{% load web_extras %}

{% block sidebar %}
    <a href="{% url 'website:game' current_game.id %}">{{ current_game.title }}</a>
    <p>{{ current_game.description }}</p>
    <p>Released: {{ current_game.releasedate }}</p>

    <p>
        {% if current_game.publisher %}
            <a href="{% url 'website:developer' current_game.developer.id %}">Developer: {{ current_game.developer.title }}</a>
        {% endif %}
        <br>
        {% if current_game.publisher %}
            <a href="{% url 'website:publisher' current_game.publisher.id %}">Publisher: {{ current_game.publisher.title }}</a>
        {% endif %}
    </p>

    <a href="{% url 'website:create' 'post' current_game.id %}" style="font-size: 22px;">
        Write a review for {{ current_game.title }}
    </a>
{% endblock %}


{% block main %}
    {% if post_list %}
        <form method="get">
            <select name="sort" id="sort" style="margin-left: 60px;">
                <option value="title" {% if sort == 'title' %} selected {% endif %}>A-Z</option>
                <option value="-title" {% if sort == '-title' %} selected {% endif %}>Z-A</option>
                <option value="popularity" {% if sort == 'popularity' %} selected {% endif %}>Popularity</option>
                <option value="pubdate" {% if sort == 'pubdate' %} selected {% endif %}>Published Ascending</option>
                <option value="-pubdate" {% if sort == '-pubdate' %} selected {% endif %}>Published Descending</option>
                <option value="author" {% if sort == 'author' %} selected {% endif %}>Author Ascending</option>
                <option value="-author" {% if sort == '-author' %} selected {% endif %}>Author Descending</option>
                <option value="id" {% if sort == 'id' %} selected {% endif %}>Added Ascending</option>
                <option value="-id" {% if sort == '-id' %} selected {% endif %}>Added Descending</option>
            </select>
            <input type="submit" value="Sort">
        </form>

        <ul>
            <div class="list">
                <li>
                    {% for post in post_list %}
                            <a href="{% url 'website:post' post.id %}">
                                <div class="list-element" style="{% cycle 'background-color: #f2f2f2;' 'background-color: #ffffff;' %}">
                                    {% if post.image %}
                                        <img alt="a" src="{% url 'website:get_image' post.image.id %}">
                                    {% else %}
                                        <img src="" alt="No image">
                                    {% endif %}


                                    <h3>{{ post.title }}</h3>
                                    <div class="list-text">
                                        {{ post.content }}
                                    </div>

                                    <p>
                                        Published: {{ post.pubdate }}
                                        <br>
                                        {% if post.author %}
                                            <a id="author" href="{% url 'website:profile' post.author.id %}">
                                                Author: {{ post.author.username }}
                                            </a>
                                        {% endif %}
                                    </p>

                                    {% if request.user.is_staff or request.user.username == post.author.username %}
                                        <a id="delete" href="{% url 'website:delete' 'post' post.id %}">delete</a>
                                    {% endif %}

                                    <div class="like-dislike">
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url 'website:like_post' post.id %}?next=/game/{{ post.game.id }}"
                                                style="{% if post|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}">▲</a>

                                            {{ post|count_likes }}

                                            <a id="dislike" href="{% url 'website:dislike_post' post.id %}?next=/game/{{ post.game.id }}"
                                                style="{% if post|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}">▼</a>
                                        {% else %}
                                            ▲ {{ game|count_likes }} ▼
                                        {% endif %}
                                    </div>

                                </div>
                            </a>
                    {% endfor %}

                </li>
            </div>
        </ul>

    {% else %}
        <p>No posts are available.</p>
    {% endif %}

{% endblock %}
