{% extends "website/base.html" %}

{% block sidebar %}
    <a href="{% url 'website:create' 'post' current_game.id %}">Write a review</a>
    <a href="{% url 'website:game' current_game.id %}">{{ current_game.title }}</a>
    <p>{{ current_game.description }}</p>
    <p>Released: {{ current_game.releasedate }}</p>
{% endblock %}


{% block main %}
    {% if post_list %}
        <ul>
            <div class="list">
                <li>
                    {% for post in post_list.all %}
                            <a href="{% url 'website:post' post.id %}">
                                <div class="list-element">
                                    {% if post.image %}
                                        <img alt="a" src={{ post.image.binary_blob }}>
                                    {% else %}
                                        <img src="" alt="No image">
                                    {% endif %}


                                    <h3>{{ post.title }}</h3>
                                    <div class="list-text">
                                        {{ post.content }}
                                    </div>

                                    <a id="delete" href="{% url 'website:delete' 'post' post.id %}">delete</a>

                                </div>
                            </a>
                    {% endfor %}

                </li>
            </div>
        </ul>

    {% else %}
        <p>No posts are available.</p>
    {% endif %}

{% endblock %}
