{% extends "website/base.html" %}


{% block main %}
    {% if games_list %}

        <ul>
            <div class="list">
                <li>

                    {% for game in games_list.all|dictsort:"title" %}
                            <a href="{% url 'website:game' game.id %}">
                                <div class="list-element">

                                    {% if game.image %}
                                        <img alt="a" src={{ game.image.binary_blob }}>
                                    {% else %}
                                        <img src="" alt="No image">
                                    {% endif %}

                                    <h3>{{ game.title }}</h3>
                                    <div class="list-text">
                                        {{ game.description }}
                                    </div>

                                </div>
                            </a>
                    {% endfor %}

                </li>
            </div>
        </ul>

    {% else %}
        <p>No games are available.</p>
    {% endif %}

{% endblock %}
