{% extends "website/base.html" %}
{% load web_extras %}
{% load static %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
	<script src="{% static 'website/javascript/renderpost.js' %}"></script>
{% endblock %}


{% block sidebar %}
    {% if post %}
        <a href="{% url 'website:game' post.game.id %}">{{ post.game.title }}</a>

        {% if request.user.is_staff %}
            <a href="{% url 'website:delete' 'game' post.game.id %}" style="  margin-top: -35px; margin-left: 220px;">
                <i class="fa fa-trash" style="color: #db3d3d; font-size: 24px;"></i>
            </a>
        {% endif %}

        <div class="like-dislike-sidebar">
        {% if request.user.is_authenticated %}
            <button
                    id="like{{ post.game.id }}"
                    type="button"
                    onclick="like_game({{ post.game.id }});"
                    style="{% if post.game|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}"
            >▲</button>

            <span id="score{{ post.game.id }}">{{ post.game|count_likes }}</span>

            <button
                    id="dislike{{ post.game.id }}"
                    type="button"
                    onclick="dislike_game({{ post.game.id }});"
                    style="{% if post.game|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}"
            >▼</button>
        {% else %}
            ▲ {{ post.game|count_likes }} ▼
        {% endif %}
    </div>

        <p>{{ post.game.description }}</p>
        <p>Released: {{ post.game.releasedate }}</p>
        <a class="reviewbutton" href="{% url 'website:create' 'post' post.game.id %}">
            Write a review <i class="fa fa-align-left"></i>
        </a>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="post-body" id="padded-content">
        {% if post %}
            <div style="display: flex; align-items: center;">
                {% if post.image %}
                    <img src="{% url 'website:get_image' post.image.id %}">
                {% else %}
                    <img src="{% static 'website/post_default_image.png' %}" alt="No image">
                {% endif %}

                <div class="title">
                    <h1>{{ post.title }}</h1>

                    <div class="like-dislike" style="margin: 0; width: auto;">
                        {% if request.user.is_authenticated %}
                            <button
                                    id="like{{ post.id }}"
                                    type="button"
                                    onclick="like_post({{ post.id }});"
                                    style="{% if post|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}"
                            >▲</button>

                            <span id="score{{ post.id }}">{{ post|count_likes }}</span>

                            <button
                                    id="dislike{{ post.id }}"
                                    type="button"
                                    onclick="dislike_post({{ post.id }});"
                                    style="{% if post|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}"
                            >▼</button>
                        {% else %}
                            ▲ {{ post|count_likes }} ▼
                        {% endif %}
                    </div>
                </div>
            </div>

            <div>
                {% if post.pubdate %}
                    Posted: {{ post.pubdate }}
                {% else %}
                    Posted: Time unspecified
                {% endif %}

                {% if request.user.is_staff or request.user.username == post.author.username %}
                    <a href="{% url 'website:delete' 'post' post.id %}" style="margin-left: 2rem;">
                        <i class="fa fa-trash" style="color: #db3d3d; font-size: 24px;"></i>
                    </a>
                {% endif %}
            </div>

            <p style="border-bottom: solid 1px grey; padding-bottom: 15px;">
                Author: <a href="{% url 'website:profile' post.author.id %}">{{ post.author.username }}</a>
            </p>

            <div id="content">{{ post.content|linebreaks }}</div>

            <div style="border-top: solid 1px grey; margin: 15px 0;"></div>
            <div class="comments-list">
                <h2>Comments</h2>

                <p>Write a comment</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.content}}
                    <br>
                    <button type="submit">Post</button>
                </form>

                {% for comment in comments %}
                    <div class="comment">
                        <div>
                            {% if comment.user|get_image_from_user %}
                                <img src="{% url 'website:get_image' comment.user|get_image_id_from_user %}">
                            {% else %}
                                <img src="{% static 'website/user_default_image.jpg' %}" alt="No image">
                            {% endif %}
                        </div>

                        <div id="comment-contents">
                            <h3><a href="{% url 'website:profile' comment.user.id %}">{{ comment.user.username }}</a></h3>
                            <p>{{ comment.content }}</p>
                            <p id="date">{{ comment.date }}</p>
                        </div>

                        {% if request.user.is_staff %}
                            <a id="delete" href="{% url 'website:delete' 'comment' comment.id %}">
                                <i class="fa fa-trash" style="color: #db3d3d; font-size: 24px;"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <p>Nothing here</p>
        {% endif %}
    </div>
{% endblock %}
