{% extends "website/base.html" %}
{% load web_extras %}
{% load static %}


{% block sidebar %}
    <a href="{% url 'website:posts_list' %}" style="text-align:center; font-weight: bold; margin-top: 20px; font-size: 22px;">Recent posts</a>
    <ul class="sidebar-list">
        {% for post in latest_reviews.all %}
            <li>
                <a href="{% url 'website:post' post.id %}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>


    <a href="/?sort=-id" style="
        text-align:center; font-weight: bold; margin-top: 60px; white-space: nowrap;
        font-size: 22px;
    ">Recently added games</a>
    <ul class="sidebar-list">
        {% for game in latest_games.all %}
            <li>
                <a href="{% url 'website:game' game.id %}">
                    {{ game.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block main %}
    {% if post_list %}

        <div class="sorting">
            <form method="get">
                <select name="sort" id="sort" style="margin-left: 78%;">
                    <option value="title" {% if sort == 'title' %} selected {% endif %}>A-Z</option>
                    <option value="-title" {% if sort == '-title' %} selected {% endif %}>Z-A</option>
                    <option value="popularity" {% if sort == 'popularity' %} selected {% endif %}>Popularity</option>
                    <option value="pubdate" {% if sort == 'pubdate' %} selected {% endif %}>Published Ascending</option>
                    <option value="-pubdate" {% if sort == '-pubdate' %} selected {% endif %}>Published Descending</option>
                    <option value="author" {% if sort == 'author' %} selected {% endif %}>Author Ascending</option>
                    <option value="-author" {% if sort == '-author' %} selected {% endif %}>Author Descending</option>
                </select>
                <input type="submit" value="Sort">
            </form>
        </div>

       <ul>
            <div class="list">
                <li>
                    {% for post in post_list %}
                        <div class="list-element" style="{% cycle 'background-color: #f2f2f2;' 'background-color: #ffffff;' %}">
                            <div class="list-element-main">
                                <a href="{% url 'website:post' post.id %}" style="width: 100%;">
                                    {% if post.image %}
                                        <img src="{% url 'website:get_image' post.image.id %}">
                                    {% else %}
                                        <img src="{% static 'website/post_default_image.png' %}" alt="No image">
                                    {% endif %}

                                    <h3>{{ post.title }}</h3>
                                    <div class="list-text">
                                        {{ post.description }}
                                    </div>

                                </a>
                                {% if request.user.is_staff %}
                                    <a id="delete" href="{% url 'website:delete' 'post' post.id %}">
                                        <i class="fa fa-trash" style="color: #db3d3d; font-size: 24px;"></i>
                                    </a>
                                {% endif %}
                            </div>


                            <div class="like-dislike">
                                {% if request.user.is_authenticated %}
                                    <button
                                        id="like{{ post.id }}"
                                        type="button"
                                        onclick="like_post({{ post.id }});"
                                        style="{% if post|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}"
                                    >▲</button>

                                    <span id="score{{ post.id }}">{{ post|count_likes }}</span>

                                    <button
                                        id="dislike{{ post.id }}"
                                        type="button"
                                        onclick="dislike_post({{ post.id }});"
                                        style="{% if post|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}"
                                    >▼</button>
                                {% else %}
                                    ▲ {{ post|count_likes }} ▼
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </li>
            </div>
        </ul>

    {% endif %}
{% endblock %}