{% extends "website/base.html" %}
{% load web_extras %}
{% load static %}

{% block main %}
  {% if object_list %}
    <div class="sorting">
        <form method="get">
            <input type="hidden" name="q" value="{{ request.GET.q }}">
            <select name="sort" id="sort">
                <option value="title" {% if sort == 'title' %} selected {% endif %}>A-Z</option>
                <option value="-title" {% if sort == '-title' %} selected {% endif %}>Z-A</option>
                <option value="popularity" {% if sort == 'popularity' %} selected {% endif %}>Popularity</option>
                <option value="date" {% if sort == 'date' %} selected {% endif %}>Date Ascending</option>
                <option value="-date" {% if sort == '-date' %} selected {% endif %}>Date Descending</option>
                <option value="type" {% if sort == 'type' %} selected {% endif %}>Type Ascending</option>
                <option value="-type" {% if sort == '-type' %} selected {% endif %}>Type Descending</option>
            </select>
            <input type="submit" value="Sort">
        </form>
    </div>

    <ul>
        <h1>{{ kwargs.sort }}</h1>
        <div class="list">
            <li>
                {% for result in object_list %}
                    <a href="{% url result|get_url result.id %}">
                        <div class="list-element" style="{% cycle 'background-color: #f2f2f2;' 'background-color: #ffffff;' %}">
                            {% if result.image %}
                                <img alt="a" src="{% url 'website:get_image' result.image.id %}">
                            {% elif result|get_image_from_user %}
                                <img alt="a" src="{% url 'website:get_image' result|get_image_id_from_user %}">
                            {% else %}
                                <img src=
                                    {% if result|get_model_name == 'Game' %}
                                        "{% static 'website/game_default_image.png' %}"
                                    {% elif result|get_model_name == 'Post' %}
                                        "{% static 'website/post_default_image.png' %}"
                                    {% elif result|get_model_name == 'User' %}
                                        "{% static 'website/user_default_image.jpg' %}"
                                    {% elif result|get_model_name == 'Publisher' %}
                                        "{% static 'website/publisher_default_image.png' %}"
                                    {% elif result|get_model_name == 'Developer' %}
                                        "{% static 'website/developer_default_image.png' %}"
                                    {% endif %}
                                alt="No image">
                            {% endif %}


                            <h3>
                                {{ result.title }}
                                {{ result.username }}
                            </h3>

                            <h5 style="float: right; margin-top: -25px; margin-right: 5px;">{{ result|get_model_name }}</h5>

                            <div class="list-text">
                                {{ result.content }}
                                {{ result.description }}
                            </div>

                            <p>
                                Date: {{ result.releasedate }} {{ result.foundingdate }} {{ result.pubdate }} {{ result.date_joined }}
                                <br>
                            </p>

                            {% if result.author %}
                                <a id="author" href="{% url 'website:profile' result.author.id %}">
                                    Author: {{ result.author.username }}
                                </a>
                            {% endif %}

                            </a>

                            {% if result|get_model_name == "Post" %}
                                <div class="like-dislike">
                                    {% if request.user.is_authenticated %}
                                        <button
                                            id="like{{ result.id }}"
                                            type="button"
                                            onclick="like_post({{ result.id }});"
                                            style="{% if result|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}"
                                        >▲</button>

                                        <span id="score{{ result.id }}">{{ result|count_likes }}</span>

                                        <button
                                            id="dislike{{ result.id }}"
                                            type="button"
                                            onclick="dislike_post({{ result.id }});"
                                            style="{% if result|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}"
                                        >▼</button>
                                    {% else %}
                                        ▲ {{ result|count_likes }} ▼
                                    {% endif %}
                                </div>
                            {% elif result|get_model_name == "Game" %}
                                <div class="like-dislike">
                                    {% if request.user.is_authenticated %}
                                        <button
                                            id="like{{ result.id }}"
                                            type="button"
                                            onclick="like_game({{ result.id }});"
                                            style="{% if result|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}"
                                        >▲</button>

                                        <span id="score{{ result.id }}">{{ result|count_likes }}</span>

                                        <button
                                            id="dislike{{ result.id }}"
                                            type="button"
                                            onclick="dislike_game({{ result.id }});"
                                            style="{% if result|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}"
                                        >▼</button>
                                    {% else %}
                                        ▲ {{ result|count_likes }} ▼
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                {% endfor %}
            </li>
        </div>
    </ul>
  {% endif %}

{% endblock %}