{% extends "website/base.html" %}
{% load web_extras %}
{% load static %}

{% block head %}
    <script src="{% static 'website/javascript/tabs.js' %}"></script>
    <script src="{% static 'website/javascript/popupwindow.js' %}"></script>
{% endblock %}

{% block sidebar %}
    <a href="#" style="text-align:center; font-weight: bold; margin-top: 20px; font-size: 22px;">Comments from {{ account.username }}</a>
    <ul class="sidebar-list">
        {% for comment in sidebar_latest_comments %}
            <li>
                <a href="
                    {% if comment.game %} {% url 'website:game' comment.game.id %}
                    {% elif comment.profileuserdata %} {% url 'website:profile' comment.profileuserdata.user.id %}
                    {% elif comment.post %} {% url 'website:post' comment.post.id %}
                    {% endif %}
                ">
                    <h5>
                        {% if comment.game %} {{ comment.game.title }}
                        {% elif comment.profileuserdata %} {{ comment.profileuserdata.user.username }}
                        {% elif comment.post %} {{ comment.post.title }}
                        {% endif %}
                    </h5>

                    {{ comment.content }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
    <div id="padded-content">
        <h1>
            {{ account.username }}
            {% if account.is_staff %}
                <i class="fa fa-certificate" aria-hidden="true" style="font-size: 28px; color: #49c030;"></i>
            {% elif not account.is_active %}
                <i class="fa fa-times-circle" aria-hidden="true" style="font-size: 28px; color: #df2525;"></i>
            {% endif %}
        </h1>

        {% if userdata.image %}
            <img src="{% url 'website:get_image' userdata.image.id %}" style="max-height: 248px; max-width: 248px; min-height: 248px; min-width: 248px;">
        {% else %}
            <img src="{% static 'website/user_default_image.jpg' %}" alt="No image">
        {% endif %}

        {% if account.is_staff %}
            <p style="padding-top:24px">This user is an administrator.</p>
        {% elif not account.is_active %}
            <p style="padding-top:24px">This account is suspended.</p>
        {% endif %}

        {% if userdata.description %}
            <h4 style="margin-top: 45px;">Description</h4>
            <p>{{ userdata.description|linebreaks }}</p>
        {% endif %}

        <p style="padding-top: 5%;">Date joined: {{ account.date_joined }}</p>
        <p>Last online: {{ account.last_login }}</p>
        <br>
        <p>User score: {{ account|count_user_score }}</p>
    </div>

    {% if account.id != request.user.id %}
        <button type="button" id="report" style="margin: 15px 20px; padding: 10px;" onclick="displayModal()">Report User</button>
    {% endif %}


    <div id="report-popup" class="modal">
        <div class="report-popup-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form method="post">
                {% csrf_token %}

                <h5 style="padding: 10px 0 20px 0;">Report User</h5>

                <input type="radio" id="opt1" name="reason" value="This user has displayed inappropriate behavior." checked>
                <label for="opt1">This user has displayed inappropriate behavior.</label><br>

                <input type="radio" id="opt2" name="reason" value="This user has been posting reviews with incorrect information.">
                <label for="opt2">This user has been posting reviews with incorrect information.</label><br>

                <input type="radio" id="opt-other" name="reason" value="other">
                <label for="opt-other">Other</label>
                <br>
                <input type="text" name="reason-other" id="textbox-other" disabled="true" maxlength="120">

                <br>
                <button type="submit" name="report">Submit Report</button>
            </form>
        </div>
    </div>


    <div class="tabs">
        <button class="tablinks active" onclick="switch_tabs(event, 'posts')">Posts by User</button>
        <button class="tablinks" onclick="switch_tabs(event, 'comments')">Comments on {{ account.username }}'s profile</button>
    </div>

    <div id="posts" class="tabcontent">
        {% if acc_posts %}
                <ul>
                <div class="list">
                    <li>
                        {% for post in acc_posts.all %}
                            <div class="list-element" style="{% cycle 'background-color: #f2f2f2;' 'background-color: #ffffff;' %}">
                                <div class="list-element-main">
                                    <a href="{% url 'website:post' post.id %}" style="width: 100%;">
                                        {% if post.image %}
                                            <img src="{% url 'website:get_image' post.image.id %}">
                                        {% else %}
                                            <img src="{% static 'website/post_default_image.png' %}" alt="No image">
                                        {% endif %}

                                        <h3>{{ post.title }}</h3>
                                        <div class="list-text">
                                            {{ post.description }}
                                        </div>

                                    </a>
                                    {% if request.user.is_staff %}
                                        <a id="delete" href="{% url 'website:delete' 'post' post.id %}">
                                            <i class="fa fa-trash" style="color: #db3d3d; font-size: 24px;"></i>
                                        </a>
                                    {% endif %}
                                </div>


                                <div class="like-dislike">
                                    {% if request.user.is_authenticated %}
                                        <button
                                            id="like{{ post.id }}"
                                            type="button"
                                            onclick="like_post({{ post.id }});"
                                            style="{% if post|is_liked:request.user %}color: #00b300;{% else %}color: #000000;{% endif %}"
                                        >▲</button>

                                        <span id="score{{ post.id }}">{{ post|count_likes }}</span>

                                        <button
                                            id="dislike{{ post.id }}"
                                            type="button"
                                            onclick="dislike_post({{ post.id }});"
                                            style="{% if post|is_disliked:request.user %}color: #b30000;{% else %}color: #000000;{% endif %}"
                                        >▼</button>
                                    {% else %}
                                        ▲ {{ post|count_likes }} ▼
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                    </li>
                </div>
            </ul>
        {% endif %}
    </div>

    <div id="comments" class="tabcontent" style="display: none;">
        <p>Write a comment</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.content}}
            <br>
            <button type="submit" name="comment">Post</button>
        </form>

        {% for comment in comments %}
            <div class="comment">
                <div>
                    {% if comment.user|get_image_from_user %}
                        <img src="{% url 'website:get_image' comment.user|get_image_id_from_user %}">
                    {% else %}
                        <img src="{% static 'website/user_default_image.jpg' %}" alt="No image">
                    {% endif %}
                </div>

                <div id="comment-contents">
                    <h3>
                        <a href="{% url 'website:profile' comment.user.id %}">
                            {{ comment.user.username }}
                            {% if comment.user.is_staff %}
                                <i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px; color: #49c030;"></i>
                            {% elif not comment.user.is_active %}
                                <i class="fa fa-times-circle" aria-hidden="true" style="font-size: 20px; color: #df2525;"></i>
                            {% endif %}
                        </a>
                    </h3>
                    <p>{{ comment.content }}</p>
                    <p id="date">{{ comment.date }}</p>
                </div>

                {% if request.user.is_staff %}
                    <a id="delete" href="{% url 'website:delete' 'comment' comment.id %}">
                        <i class="fa fa-trash" style="color: #db3d3d; font-size: 24px;"></i>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if account.is_active %}
        <a id="delete-user"
           href="{% url 'website:disable' account.id %}"
           onclick="if(confirm('Disable this account?') == false) { return false; }"
        >Disable account</a>
    {% else %}
        <a id="restore-user"
           href="{% url 'website:restore' account.id %}"
           onclick="if(confirm('Restore this account?') == false) { return false; }"
        >Restore account</a>
    {% endif %}

{% endblock %}