{% extends "website/base.html" %}
{% load static %}

{% block main-params %} style="width: 100%;" {% endblock %}
{% block sidebar-params %} style="display: none;" {% endblock %}

{% block head %}
    <script src="{% static 'website/javascript/tabs.js' %}"></script>
{% endblock %}

{% block main %}
    <div id="padded-content">
        <h1 id="centered-header">Account Settings for {{ request.user.username }}</h1>

        <div class="tabs">
            <button class="tablinks {% if tab == 'profile' %}active{% endif %}" onclick="switch_tabs(event, 'profile')">Profile Settings</button>
            <button class="tablinks {% if tab == 'account' %}active{% endif %}" onclick="switch_tabs(event, 'account')">Account Settings</button>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="profile" class="tabcontent" style="{% if tab == 'account' %}display: none;{% endif %}">
                <h2 id="centered-header">Profile Settings</h2>
                <h3 style="margin-top: 45px;">Profile description</h3>
                <textarea rows="5" cols="60" maxlength="400" name="description" style="resize: none;">{{ userdata.description }}</textarea>

                <h3 style="margin-top: 45px;">Change Profile Picture</h3>

                {% if userdata.image %}
                    <p>Current profile picture:</p>
                    <img src="{% url 'website:get_image' userdata.image.id %}" style="max-height: 248px; max-width: 248px; min-height: 248px; min-width: 248px;">
                {% endif %}

                <br>
                <input type="file" id="Picture" name="picture" style="margin-top: 10px;">
                <br>

                <button type="submit" value="profile" name="tab">Save</button>
            </div>


            <div id="account" class="tabcontent" style="{% if tab == 'profile' %}display: none;{% endif %}">
                <h2 id="centered-header">Account Settings</h2>
                <h3 style="margin-top: 45px;">Change Username</h3>

                <p>New username: <input name="new_username" type="text"></p>
                <p style="margin-top: 15px;">Password: <input name="username_password_auth" type="password"></p>

                <h3 style="margin-top: 45px;">Change Password</h3>

                <p style="margin-bottom: 30px;">Old password: <input name="old_password" type="password"></p>
                <p>New password: <input name="new_password1" type="password"></p>
                <p>Repeat password: <input name="new_password2" type="password"></p>

                <button type="submit" value="account" name="tab">Save</button>
            </div>

        </form>
    </div>
{% endblock %}