body {
    font-family: Arial;
}

.navbar {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    min-height: 5vw;
    width: 100%;
    overflow: hidden;
    background-color: #db3d3d;
}


.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: right;
    padding: 1% 1% 0% 3.5%;
    text-decoration: none;
    font-size: 1.6vw;
}


.navbar form{
    float: right;
    padding-right: 50px;
    margin-top: 2.2%;
    margin-bottom: -10%;
}


.user {
    text-align: left;
}


.sidebar {
    z-index: 2;

    height: 90%;
    width: 18%;

    position: fixed;
    bottom: 0;
    right: 0;

    background-color: #ded3d3;
    overflow-x: hidden;

    border-left: 1px solid;
}


.sidebar p {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    display: block;
}


.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}


.sidebar a:hover {
    color: #4d4d4d;
}


.sidebar-list-element {
  border: solid;
  border-width: 0.5px;
  background-color: #ffffff;
  max-height: 40px;
  min-height:40px;
  margin-left: -40px;
  margin-top: -13px;
}


.sidebar-list-element:hover {
    background-color: #f2f2f2;
}


.title {
    display: flex;
    justify-content: space-between;
}


.main {
    margin-right: 19%;
    margin-left: 2%;
    margin-top: 6%;
    font-size: 18px;
}



.list {
    list-style-type: none;
    margin-left: -7%;
}


.list a {
    text-decoration: none;
    color: black;
}


.list-element {
    position: relative;
    margin-top: -0.7px;
    padding: 10px 5px 10px 15px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.list-text {
    display: inline-block;
    padding-right: 10px;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
}

.list-element img {
    z-index: 1;
    float: left;
    padding: 5px 20px 5px 5px;
    margin-right: 10px;
    height: 148px;
    width: 148px;
}


.like-dislike {
    margin-left: 3.8%;
}


.like-dislike a {
    transition: background-color 0.2s linear;
}


.like-dislike a:hover {
    background-color: #d9d9d9;
    border-radius: 4px;
}


#main-title {
    display: block;
    position: fixed;
    width: 120%;
    height: 8%;
    font-size: 25px;
    margin-top: 0.3%;
    left: 0;
}

#id_content  {
    width: 80%;
    height: 50%;
    resize: none;
}

#dropdown {
    width:100%;
    height: 100%;
    overflow-y :auto;
    overflow-x:hidden;
    position:absolute;
    display: contents;
}

#delete {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#author {
    bottom: 5px;
    left: 185px;
}