body {
    font-family: Arial;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    overflow: hidden;
    background-color: #db3d3d;
}


.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 17px;
    text-size-adjust: none;
}



.sidebar {
    z-index: 2;

    height: 90%;
    width: 18%;

    position: fixed;
    bottom: 0;
    right: 0;

    background-color: #ded3d3;
    overflow-x: hidden;

    border-left: 1px solid;
}


.sidebar p {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    display: block;
}


.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}


.sidebar a:hover {
    color: #818181;
}


.title {
    display: flex;
    justify-content: space-between;
}


.main {
    margin-right: 25%;
    padding: 4% 2%;
    font-size: 18px;
}



.list {
    list-style-type: none;
}


.list a {
    text-decoration: none;
    color: black;
}


.list-element {
    border-style: solid;
    border-width: 1px;
    margin-top: -0.7px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.list-text {
    display: inline-block;
    padding-right: 10px;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
}

.list-element img {
    z-index: 1;
    float: left;
    padding: 5px 20px 5px 5px;
    height: 148px;
    width: 148px;
}


#main-title {
    display: block;
    position: fixed;
    width: 120%;
    height: 8%;
    font-size: 25px;
    margin-top: 0.3%;
    left: 0;
}